<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Wordboken</title>
    <link rel="icon" type="image/x-icon" href="/files/favicon.ico">
    <link href="files/main.css" rel="stylesheet">
    <script defer src="/files/main.js"></script>
</head>
<body>
    <div id="loading-output">
        <div>index of wordboken</div>
    </div>
    <script type="py" src="files/wordboken.py" config="files/pyscript.toml"></script>
</body>
</html>
